<div class="header">
    <h1>Login</h1>
    <br />
    <form class="ui form">
        <div class="field">
            <label>E-Mail</label>
            <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" #ctrl="ngModel" placeholder="E-Mail">
        </div>
        <div #display_password class="field hidden">
            <label>Password</label>
            <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" #ctrl="ngModel" placeholder="Password">
        </div>
    </form>
    <div class="button-group">
        <button (click)="signInWithPassword()" class="ui button">
            Sign in with password
        </button>
        <button (click)="signInWithMagicLink()" class="ui button">
            Sign in with magic link
        </button>
    </div>
    <hr />
    <div class="social-group">
        <button (click)="signInWithFacebook()" class="btn ui facebook button">
            <i class="facebook icon"></i>
            sign in with Facebook
        </button><br>
        <button (click)="signInWithTwitter()" class="btn ui twitter button">
            <i class="twitter icon"></i>
            sign in with Twitter
        </button><br>
        <button (click)="signInWithGoogle()" class="btn ui google plus button">
            <i class="google plus icon"></i>
            sign in with Google
        </button><br>
        <button (click)="signInWithGithub()" class="btn ui github button">
            <i class="github icon"></i>
            sign in with Github
        </button>
    </div>
</div>